.grid-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.grid-item {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s;
}
.grid-item:hover {
  transform: scale(1.05);
}

.feature-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.fade-up {
  animation: fadeUp 1s ease-in-out;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
#map {
  height: 500px;
  width: 100%;
}

gmp-map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}